OPENBENCH_SERVER=https://training.example.com
OPENBENCH_USERNAME=training
MATTBENCH_EXECUTION_IMAGE=
MATTBENCH_PAWNOCCHIO_REPO=https://github.com/JonathanHallstrom/pawnocchio
MATTBENCH_PAWNOCCHIO_REF=85df99c903ee6b90dd593a71009354699a81bcc5
MATTBENCH_COMBINER_REPO=https://github.com/JonathanHallstrom/viriformat_combiner
MATTBENCH_COMBINER_REF=045a3e399ca971e8153847e5f3f7e55e3e5a8103
